<!-- CONTENT ENDS HERE -->
  {{ ispage blog/articles/* }}
      </div>
    </div>
  </section>
  <section>
    <div class="container is-max-desktop">
      <h1 class="title">Comments</h1>
      <div id="remark42"></div>
    </div>
  </section>
  {{ end }}
  {{ isnotpage blog/articles/* }}
  </div>
  {{ end }}
  {{ if hasmath }}
      {{ insert foot_katex.html }}
  {{ end }}
  {{ if hascode }}
      {{ insert foot_highlight.html }}
  {{ end }}
  <script>
    remark_config = {
      host: 'https://remark42.klafyvel.me',
      site_id: 'klafyvel.me',
      components: ['embed']
    }
  </script>
  <script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
  <script src="/libs/burger.js"></script> 
  <footer class="footer">
    <div class="content has-text-centered">
      <p> By <a href="https://klafyvel.me/">{{ fill author }}</a>. {{isnotpage /tag/*}}Last modified: {{ fill fd_mtime }}.{{end}} 
      </p>
      <p>In case you wan updates, here is an <a href="https://klafyvel.me/feed.xml"/>RSS feed</a> for my website.</p>
      <p>
      Website built with <strong><a href="https://bulma.io/">Bulma</a></strong>, with a theme adapted to <strong><a href="https://github.com/tlienart/Franklin.jl">Franklin.jl</a></strong> by <a href="https://github.com/Klafyvel">@Klafyvel</a>, and the <a href="https://julialang.org"><strong>Julia</strong> programming language</a>.
      </p>
      <p>
          The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>
  </body>
</html>
